<ion-view title="Signing up to clean">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content>

        <section class="bg-main">
            <div class="main">
                <aside class="sign_up_cleanosaur">
                    <p>
                        <strong>Be a Cleanosaur Customer</strong>
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                        Scrambled it to make a type specimen book.
                    </p>
                </aside>
                <aside class="logo_center">
                    <img src="img/black_logo.png" width="207" height="53" alt="">
                </aside>

                <p> <span class="btns pink_btn popup_rwr_btn" ng-click="openPlayStore()">  Download Cleanosaur App  </span> </p>

            </div>
        </section>
    </ion-content>
</ion-view>