<ion-view>
    <ion-content>
        <aside class="bill_top">
            $135
        </aside>

        <p class="txt-center"> <span class="btns black_btn popup_rwr_btn"> Request ID - 5698 </span> </p>

        <section class="layout_sec">
            <aside class="front_home">Clean Front Home <span>  $135 </span> </aside>
            <div class="btn_set">
                <div class="full"> <span class="btns pink_btn"> Done </span> </div>
            </div>
        </section>
    </ion-content>
</ion-view>