<ion-view title="Forgot Password">
    <ion-content>

        <section class="bg-sec forgot-pass-bg">
            <div class="main">
                <div class="space_top">
                    <form method="" action="" name="">
                        <div class="forms_login">
                            <ul>
                                <li> <input type="text" placeholder="Email" required="required" , ng-model="forgotPasswordDetails.email">
                                    <img src="img/email.png" alt="" class="textbox_icons email"> </li>
                            </ul>
                        </div>
                        <aside class="btn_set mar0">
                            <div class="full" ng-click="forgotPassword()"> <span class="btns pink_btn"> Submit </span> </div>
                        </aside>
                        <aside class="forgot-pass-sec"> Already have an account? <a href="#" class="forgot_login" ui-sref="login">  Login </a> </aside>

                    </form>


                </div>
            </div>
        </section>
        <!--<label class="item item-input">
            <i class="icon ion-ios-person-outline placeholder-icon"></i>
            <input type="text" placeholder="Email" ng-model="account.user.email">
         </label>
         <button class="button button-block">Register</button>
         <label>
            <p>Already have an acccount? <a href="www.google.com"><u>Login</u></a></p>
            </label>-->
    </ion-content>
</ion-view>